.container {
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border: 2px solid green;
  .graphSelect {
    display: flex;
    align-items: center;
    .graph {
      border: 1px solid #bbb;
      width: 70%;
      margin: 2rem auto;
      padding: 1rem;
    }
    .selectOption {
      width: 25%;
      padding: 1rem;
      p {
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }
  .option {
    margin: 1rem auto;
    width: 20rem;
    .selectOption {
      p {
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
}
